/* Styles go here */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
img{
  width:100%;
}

.service
{
border-bottom: solid 1px #ccc;
padding: 20px 0;
}